%h1 Tasks#index
%p Find me in app/views/tasks/index.html.haml

month:
= params[:month]
%br
- @tasks.each do |date, tasks|
  - tasks.each do |task|
    - unless task.blank?
      = task.title
      %br
  = link_to date, tasks_days_path(year: params[:year], month: params[:month], day: date)
  %br
= link_to 'ログアウトする', logout_path
