%h1 Tasks#index
%p Find me in app/views/tasks/index.html.haml

month:
= params[:month]
%br
- @tasks.each do |task|
  - day = task.date.day
  = link_to day, tasks_days_path(year: task.date.year, month: task.date.month, day: task.date.day)
  %br
= link_to 'ログアウトする', logout_path
